<h1>Edit Photo</h1>
<form action="" method="post">
  <input type="text" name="description" placeholder="description">
  {{#if author_id}}
  <button type="submit">Submit Change</button>
  <button type="reset">Remove Photo</button>
  {{/if}}
</form>