<body>
  <h1>Photo Gallery</h1>
  <div class="photoGallery">
  
  {{#each photoObj}}
  <div>
    <a href="{{link}}"><img src="{{link}}" alt="" srcset="">i</a>
  </div>
{{/each}}  
</ul>
</div>
</body>
</html>