
<h1>Add Pictures</h1>

<form action="new" method="post">
<input type="text" name ="author" placeholder="author">
<input type="text" name ="description" placeholder="description">
<input type="text" name ="link" placeholder="link">
<input type="text" name ="author_id" placeholder="author id">
<button type="submit">submit</button>
</form>